@model IEnumerable<TaskAbdallahRiyad.Models.Contact>

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center">Contact List</h1>
<div class="line-container5">
    <a asp-action="Create" class="btn btn-success" asp-controller="Contacts">Create New</a>
    <br />
    <a asp-action="Logout" class="btn btn-dark" asp-controller="Account">logout</a>
</div>
<a asp-action="RolesList" class="btn btn-success" asp-controller="Account">Role List</a>
<form asp-action="Index" method="post">
    <span style="padding:10px;margin:5px ;width:25%">
        <input type="text" name="term" class="form-control" />
        <input type="submit" value="Search" class="btnSe" style="margin-top:4px" />
    </span>
</form>
<br />
@if (Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    Operations
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ContactId" class="btn btn-primary">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.ContactId" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ContactId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <h2 class="text-danger">There is no contact list </h2>
        <p>Please add new contacts.....</p>
    </div>
}

